/* ==========================================================
   ERROR 404 COLOR
   Kob_asan Official Site
   ========================================================== */


/* ==========================================================
   Number Color
========================================================== */


.error-code {

    background:

        linear-gradient(

            135deg,

            #8edcff,

            #7fffd4

        );


    -webkit-background-clip:text;

    background-clip:text;


    color:transparent;

}


/* ==========================================================
   Card Glow
========================================================== */


.error-card {

    box-shadow:

        0 0 60px rgba(

            126,

            220,

            255,

            .08

        );

}